section{
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card {
    height: 200px;
    width: 300px;
    background-color: #f0f0f0;
   
} 

img{
    
    width: 300px;
    height: 200px;
}


