.container { 
    
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
  
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}
  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  


