
img{
  width: 300px;
  height: 200px;
}

.container {
  width: 1500px;
  display: grid;
  grid-template-columns: 3fr 10px 2fr; 
  gap: 10px;
}
hr{
border: 1px solid black;
}

.left {
  display: grid;
  justify-items: center;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: repeat(4, 200px);
  gap: 10px;
 
}
.right {
   display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(4, 200px);
  gap: 10px;
}

.item1{
  align-self: center;
  justify-self: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.4em;
  white-space: nowrap;
  grid-column: 1 / span 2;
  order: 1;

}
.item2{
  justify-self: center;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.4em;
  grid-column: 1/span 2;
  order: 2;
}


.item3 { order: 3; }
.item4 { order: 4; }
.item5 { order: 5; }
.item6 { order: 4; }
.item7 { order: 6; }
.item8 { order: 7; }
.item9 { order: 8; }












