.container { 
    
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
  
}
.main{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}
.item1{
   
    grid-column: 1/span 2;
    grid-row:1;
    background-color: #ccc;
}
.item2{
    
    background-color: #faa;
}
.item3{
    
    background-color: #afa;
}
.item4{
   
    
    background-color: #aaf;
}
.item5{
    
    grid-row: 2/span 2;
    grid-column: 2;
    background-color: #ffa;
}

.item6{
    grid-column: 3/span 2;
    grid-row:2 ;
    background-color: #faf;
}
.item7{
   
    background-color: #aff;
}
.item8{
    
    background-color: #ddd;
}
.item9{
  
    background-color: #999;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



