.container{

    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
   
}

header{
   margin-top: 20px;
   margin-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0.2em;
}

.main {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-items: center;
   gap: 10px;
}

.main div {
   width: 300px;
   height: 200px;   
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item0{order:0;}
.item1{order:1;}
.item2{order:3;}
.item3{order:5;}
.item4{order:6;}
.item5{order:2;}
.item6{order:4;}
.item7{order:7;}

